# dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store

# next.js
/.next/
/out/
next-env.d.ts

# typescript
*.tsbuildinfo

# production
/build

# coverage / testing
/coverage

# editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local

# misc
*.pem
.turbo
